* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #1A1A1A;
    color: white;
    overflow-x: hidden;
}
.container {
    width: 1200px;
    /*border: 1px solid red;*/
    margin: 0 auto;
}
h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
}
h1 {
    font-weight: 500;
    font-size: 44px;
    line-height: 100%;
    text-align: left;
}
h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
}
h3 {
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
}
h4 {
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
}
p {
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    margin: 0;
    padding: 0;
    text-align: left;
}
._active {
    transform: translate(0,0) !important;
    opacity: 1 !important;
    transform: scale(1) !important;
}

header {

}
header .container {
    padding: 202px 0 159px;
    border-bottom: 1px solid white;
}
.nav_bar {
    padding-top: 59px;
    width: 100vw;
    transition: 0.5s;
    position: fixed;
    top: 0;
    z-index: 99;
}
.nav_bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    border-bottom: none;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}
.logo hr {
    width: 40px;
    height: 2px;
    border: none;
    background: #fff;
    margin: 0 10px;
}
.nav_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.menu_item {
    margin-left: 94px;
    position: relative;
    color: white;
    cursor: pointer;
}
.menu_item:after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    content: "";
    transition: width 0.3s ease-out;
}
.menu_item:hover:after,
.menu_item:focus:after {
    width: 100%;
}
.active:after {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    content: "";
    transition: width 0.3s ease-out;
}
.menu_item a {
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    color: white;
    text-decoration: none;
}
.main_title {
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.main_img {
    width: 550px;
    height: 554px;
    object-fit: cover;

    transform: translate(-50%, 0px);
    opacity: 0;
    transition: transform 0.8s ease 0s, opacity 0.8s ease 0s;
}

.title_text {
    display: flex;
    justify-content: left;
    align-items: start;
    flex-direction: column;
    max-width: 549px;
}
.text_header {
    margin-bottom: 64px;

    transform: translate(50%, 0px);
    opacity: 0;
    transition: transform 0.8s,  opacity 0.8s;
}
.text_paragr {
    transform: translate(0, 100%);
    opacity: 0;
    transition: transform 0.8s,  opacity 0.8s;
}


#portfolio {
    
}
#portfolio .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 160px 0 150px;
    border-bottom: 1px solid white;
}
.portfolio_list {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    width: 100%;
}
.list_item {
    width: 550px;
    height: 477px;
    display: flex;
    justify-content: end;
    flex-direction: column;
    padding: 31px 25px;
    margin-bottom: 83px;
    margin-left: 50px;
    color: white;
    text-decoration: none;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}
.list_item:hover {
    transform: scale(1.1) !important;
}
.list_item:nth-child(odd) {
    transform: translate(-100%, 0);
    opacity: 0;
    transition: transform 0.8s,  opacity 0.8s;
}
.list_item:nth-child(even) {
    transform: translate(100%, 0);
    opacity: 0;
    transition: transform 0.8s,  opacity 0.8s;
}
.item_description {
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
}
.button {
    background: none;
    color: white;
    text-transform: uppercase;
    border: 3px solid #C4C4C4;
    padding: 22px 76px;
    margin: 0 auto;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    cursor: pointer;
    text-decoration: none;
}
.button:hover {
    background: #C4C4C4;
    color: black;
    transition: 0.5s ease 0s;
}
.see_more{
    transform: translate(0, 100%);
    opacity: 0;
    transition: transform 0.8s,  opacity 0.8s;
}

#services {

}
#services .container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 115px 0 110px;
    border-bottom: 1px solid white;
}
.services_header {
    text-transform: uppercase;

    transform: translate(-100%, 0);
    opacity: 0;
    transition: transform 0.8s,  opacity 0.8s;
}
.services_container {
    width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.services_container_item {
    width: 250px;
    transition: transform 0.8s,  opacity 0.8s;
}
.services_container_item:nth-child(odd) {
    transform: translate(0, 100%);
    opacity: 0;
}
.services_container_item:nth-child(even) {
    transform: translate(0, -100%);
    opacity: 0;
}
.services_container._active .services_container_item {
    transform: translate(0, 0);
    opacity: 1;
}
.services_container_item_header {
    margin-bottom: 20px;
    text-align: left;
}

#process {

}
#process .container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 110px 0;
    border-bottom: 1px solid white;
}
.process_item {
    width: 550px;
}
.process_item_header {
    text-transform: uppercase;
    margin-bottom: 22px;
}
.left {
    transform: translate(-50%, 0);
    opacity: 0;
    transition: all 0.8s ease 0.5s;

}
.process_item._active .left {
    transform: translate(0, 0);
    opacity: 1;
    transition: transform 0.8s,  opacity 0.8s;
}
.right {
    transform: translate(50%, 0);
    opacity: 0;
    transition: transform 0.8s,  opacity 0.8s;
}
.process_item._active .right, .process_item._active .process_item_item:nth-child(1) .right{
    transform: translate(0, 0);
    opacity: 1;
    transition: transform 0.8s,  opacity 0.8s;
}
.process_item._active .right, .process_item._active .process_item_item:nth-child(2) .right{
    transform: translate(0, 0);
    opacity: 1;
    transition: transform 0.8s,  opacity 0.8s;
}
.process_item._active .right, .process_item._active .process_item_item:nth-child(3) .right{
    transform: translate(0, 0);
    opacity: 1;
    transition: transform 0.8s,  opacity 0.8s;
}
.left_desc {
    transform: translate(0, 200%);
    opacity: 0;
}
.process_item._active .left_desc{
    transform: translate(0, 0);
    opacity: 1;
    transition: transform 0.8s,  opacity 0.8s;
}
.right_desc {
    transform: translate(100%, 0);
    opacity: 0;
    transition: transform 0.8s,  opacity 0.8s;
}
.process_item._active .right, .process_item._active .process_item_item:nth-child(1) .right_desc {
    transform: translate(0, 0);
    opacity: 1;
    transition: transform 0.8s,  opacity 0.8s;
}
.process_item._active .right, .process_item._active .process_item_item:nth-child(2) .right_desc {
    transform: translate(0, 0);
    opacity: 1;
    transition: transform 0.8s,  opacity 0.8s;
}
.process_item._active .right, .process_item._active .process_item_item:nth-child(3) .right_desc {
    transform: translate(0, 0);
    opacity: 1;
    transition: transform 0.8s,  opacity 0.8s;
}
.process_item_item {
    margin-bottom: 50px;
}
.process_item_item .process_item_header {
    text-transform: none;
}

#about {

}
#about .container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 110px 0 110px;
}
.about_text{
    width: 550px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 607px;
}
.about_text_header {
    margin-bottom: 100px;

    transform: translate(50%, 0);
    opacity: 0;
    transition: transform 0.8s,  opacity 0.8s;
}
.about_text_paragr {
    transform: translate(0, 100%);
    opacity: 0;
    transition: transform 0.8s,  opacity 0.8s;
}
.about_img {
    width: 550px;
    height: 607px;
    object-fit: cover;

    transform: translate(0, 50%);
    opacity: 0;
    transition: transform 0.8s,  opacity 0.8s;
}
.about_text_container span {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
}

#details {
    height: 727px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
}
.details_header {
    font-weight: 500;
    font-size: 30px;
    line-height: 130%;
    margin-bottom: 32px;

    transform: translate(0, -50%);
    opacity: 0;
    transition: transform 0.8s,  opacity 0.8s;
}
.show_details {
    transform: translate(0, 50%);
    opacity: 0;
    transition: transform 0.5s,  opacity 0.5s;
}

footer {
    background: #000;
    padding: 84px 0;
}
footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright {
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;

    transform: translate(-50%, 0);
    opacity: 0;
    transition: transform 0.5s,  opacity 0.5s;
}
.footer_social {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social_item {
    background: #000;
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-left: 25px;
    border: 3px solid white;
    border-radius: 50%;
    width: 60px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    transform: scale(0) ;
    opacity: 0;
}
.vk:hover{
    color: #0066FF;
    box-shadow: 0 0 15px #0066FF;
    border-color: #0066FF;
}
.instagram:hover{
    color: #FF006B;
    box-shadow: 0 0 15px #FF006B;
    border-color: #FF006B;
}
.whatsapp:hover{
    color: #3DEC00;
    box-shadow: 0 0 15px #3DEC00;
    border-color: #3DEC00;
}
.github:hover{
    color: #FF2E00;
    box-shadow: 0 0 15px #FF2E00;
    border-color: #FF2E00;
}

/***/
.main {

}
.main .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section_header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 218px 0 0;
}
.header_title {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.line {
    width: 351px;
    height: 3px;
    background: #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.accent {
    background: #5C0000;
    height: 3px;
    width: 104px;
}
.header_description {
    text-align: center;
    width: 687px;
    margin: 20px 0 ;
}
.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 30px 0 110px;
}
.filter_item {
    padding: 10px 22px;
    border: 3px solid #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s;
    margin-left: 36px;
}
.filter_item:hover {
    background: white;
    color: #1A1A1A;
}
.filter_item.chosen {
    background: white;
    color: #1A1A1A;
}

.hide {
    display: none;
}
/***/

/***/

.about_html {

}
.about_html .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 110px;
    border-bottom: 1px solid white;
}
.html_type_container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
}
.html_type_item {
    width: 355px;
    height: 285px;
    background: #D9D9D9;
    border: 2px solid #6C6C6C;
    color: #000000;
    padding: 25px 18px;
    margin-bottom: 46px;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin-right: 45px;
    transition: all 0.5s;
}
.html_type_item:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}
.html_img {
    margin-bottom: 15px;
    width: 62px;
    height: 62px;
}
.type_header {
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 7px;
}
.type_description {
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
}

.my_skills {

}
.my_skills .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid white;
    padding-bottom: 110px;
}
.my_skills .section_header {
    padding: 110px 0 110px;
}
.skills_container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
}
.skills_container_item {
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 25px 27px 0;
}
.skills_container_item:nth-child(odd) {
    background: #262626;
    color: white;
}
.skills_container_item:nth-child(even) {
    background: #CCCCCC;
    color: black;
}
.skill_img {
    margin-bottom: 24px;
}
.skill_header {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 15px;
}
.skill_description {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
}

.about_wordpress {

}
.about_wordpress .container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 110px 0;
}
.description_container {

}
.about_wordpress .services_header {
    text-transform: none;
}
.about_wordpress .process_item_description {
    width: 550px;
}
.about_wordpress .process_item_description:nth-child(1){
    margin-bottom: 50px;
}
/***/
